p {
font-size:25px;
line-height:30px;
background-color:#000080;
color:white; 
  font-family: "Times New Roman";
  text-align: left;
border: 10px solid #000;
}
img {
border: 10px solid #000;
}

h1 {
	font-size:100px;
	background-color:red;
	color: white;
	text-align:center;
font-family:Bodoni MT;
}

h2 {
	font-size:40px;
	background-color:red;
	color: white;
	text-align:left;
text-indent: 10%;
font-family:Bodoni MT;
}